body {
    background-color: #333333;
    color: #ffffff;
}
.navbar {
    border-bottom:3px solid #0872A7;
    background-color: #292B2B;
    opacity: .7;
}
#home-section {
    background: url(../img/home.jpg) no-repeat center top;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, .7);
    min-height: 500px;
}
#home-section .home-inner {
    padding-top: 150px;
    padding-bottom: 50px;
}
#home-section .fas {
    background-color: #ffffff;
    color: aqua;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
}
#home-section .card-form {
    opacity: .8;
}
#explore-main-section .fas {
    background-color: #292B2B;
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
.create-bg {
    background-color: #007BFF;
}
#create-main-section .fas {
    background-color: #ffffff;
    color: #007BFF;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
.share-bg {
    background-color: #007BFF;
}
#share-main-section {
    background-color: #ffffff;
}
#share-main-section .fas {
    background-color: #333333;
    color: #ffffff;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
